@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --border-radius: 20px;
    --font-family: "Slackey", serif;
    --second-family: "Montserrat", serif;
    --dark-purple: #330068;
    --medium-purple: #400082;
    --light-purple: #9747FF;
    --icy-blue: #37E2D5;
    --teal: #05A7B6;
    --orange: #FF3D00;
    --yellow: #FFCD38;
    --white: #ffffff;
    --black: #000000;
    --off-black: #1D1D1D;
    --grey: #E7E7E7;
    --green: #2eac76;
    --red: #ff0032;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--dark-purple);
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-family: var(--font-family);
    color: var(--icy-blue);
    font-size: 150px;
    line-height: 87%;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--black);
}

h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 80px;
    line-height: 114%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: var(--black);
}

h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 123%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black);
}

h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--black);
}


h5 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    color: var(--white);

}

p {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    color: var(--white);
}

nav {
    background-color: var(--yellow);
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}


.button-large {
    border: 4px solid var(--black);
    border-radius: 10px;
    padding: 8px;
    width: 551px;
    height: 56px;
    background: var(--orange);
    position: absolute;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}


.button-small {
    background-color: var(--orange);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 56px;
    border: 3px solid var(--black);
    color: var(--white);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button-small:hover,
.button-large:hover {
    opacity: 0.8;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hero {
    background: url("/imgs/hero-main-bg.png") no-repeat center center/cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero-heading {
    position: relative;
    bottom: 23%;
}

.hero-left,
.hero-right {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: auto;
    max-width: 25%;
    gap: 40px;
}

.hero-left {
    left: 0;
}

.hero-right {
    right: 0;
}

.hero-cta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 170px;
    width: 551px;
    position: absolute;
    top: 70%;
    margin-right: 45%;
}

.retro-tv {
    position: absolute;
    margin-top: 27%;
    margin-left: 60%;
}

.hero-mtv {
    margin-bottom: 40%;
}

#categories {
    background-color: var(--medium-purple);
    background-image: url("/imgs/categories-bg-design.png");
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 117px 120px;
}

.categories-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 36px;
    padding: 35px 64px;
}

#category-one {
    background-color: var(--yellow);
    border-radius: var(--border-radius);
}

#category-two {
    background-color: var(--teal);
    border-radius: var(--border-radius);
}

#category-three {
    background-color: var(--light-purple);
    border-radius: var(--border-radius);
}

img {
    border-radius: var(--border-radius);
}

footer {
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--white);
    background-color: var(--black);
    font-family: var(--second-family);
}

#quiz-nav {
    background-color: var(--medium-purple);
}

.quiz-container {
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--light-purple);
    border-radius: var(--border-radius);
    border: 5px solid var(--black);
    width: 1200px;
    height: 1100px;
}

#question-background {
    background-color: var(--medium-purple);
    display: flex;
    justify-content: center;
    padding: 117px 120px;
}

#quiz-question-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 162%;
    color: var(--white);
    margin-top: 5px;
}

#category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--second-family);
    font-weight: 700;
}

#quiz-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#question {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--black);
}

.option,
#next-button {
    background-color: var(--medium-purple);
    border-radius: 10px;
    padding: 10px 10px;
    width: 400px;
    height: 66px;
    border: 3px solid var(--black);
    color: var(--white);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 162%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

#next-button {
    background-color: var(--white);
    color: var(--medium-purple);
}


.options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.option.incorrect {
    background-color: var(--red);
    color: var(--black);
}

.option.correct {
    background-color: var(--green);
    color: var(--black);
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hide {
    display: none;
}


@media (max-width: 1200px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 70px;
        margin-bottom: 180px;
    }

    h2 {
        font-size: 50px;
    }

    .hero-cta h5 {
        margin-bottom: 5px;
    }

    .hero-text p {
        margin-top: 5px;
    }

    .hero-left,
    .hero-right {
        display: none !important;
    }

    .hero-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10px;
        position: absolute;
        margin-top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .button-large {
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 50%;
        transform: translateX(-50%);
    }

    .retro-tv {
        display: block;
        margin: 20px auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
    }

    nav .button-small {
        display: none;
    }

    .categories-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 36px;
        padding: 35px 64px;
    }

    .categories-container img {
        max-width: 400px;
    }
}


